/* Reset Styles */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}

body>object {
    width: 100%;
    height: 0px;
}

/* Global Styles */
body {
    margin: 0;
    padding-bottom: 150px;
    font-family: "Playfair Display SC", serif;
    font-size: 120%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2A4250;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 120%;
}

h1,
h2,
h3 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Common Styles */
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Header Styles */
.logo {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

.main-content {
    display: flex;
    height: calc(100vh - 80px);
    background-image: url("../../public/images/Foods.jpg");
    background-size: cover;
    background-position: center;
    color: #F1F2CC;
}

.main-content h1,
h2 {
    text-align: center;
}

.news {
    flex: 3;
    color: #F1F2CC;
    padding: 20px;
    /* Adjust padding as needed */
}

.news-columns {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.news-column {
    flex: 1;
    /* Updated */
    background-color: rgba(255, 255, 255, 0.55);
    /* 0.9 is the alpha value (opacity) */
    color: #1A3240;
    /* Text color matching the header background */
    margin: 20px;
}

.news-column ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    text-align: center;
}

.news-column ul img {
    width: 55%;
}

.news-column ul li {
    margin-bottom: 10px;
}

.news-column h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.news-column.space-between {
    margin-bottom: 60px;
}

.content.A {
    text-align: center;
}

.content.A img {
    margin: 0 auto;
    display: block;
}

.category-columns {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.category-column {
    flex: 1;
    /* Updated */
    background-color: #628370;
    color: #F1F2CC;
    margin: 20px;
}

.category-column ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.category-column ul li {
    margin-bottom: 10px;
}

.category-column h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.category-column.space-between {
    margin-bottom: 60px;
}

/* Footer Styles */
.footer {
    background-color: #1A3240;
    color: #F1F2CC;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer a {
    color: #F1F2CC;
    text-decoration: none;
}

#root {
    background-color: #2A4250;
}

div.recipes {
    background-color: rgba(42, 66, 80, 0.918);
    padding-top: 170px;
    position: fixed;
    /* Set the position to fixed */
    top: 0;
    /* Align the recipes div to the top of the viewport */
    right: 0;
    /* Align the recipes div to the right of the viewport */
    bottom: 0;
    /* Align the recipes div to the bottom of the viewport */
    width: 300px;
    /* Set the width of the recipes div */
    overflow-y: auto;
    /* Add vertical scroll bar if needed */
    z-index: 1;
    /* Set a higher z-index to ensure the recipes div appears above other content */
    padding: 20px;
    /* Add padding for better readability */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    display: none;
    /* Initially hide the recipes div */
    transition: transform 0.3s ease;
    /* Add smooth transition effect */
    /* Styling for visited links */
}

div.recipes a:link {
    color: #F1F2CC;
    /* Set the color of unclicked links */
}

div.recipes a:visited {
    color: rgb(224, 13, 224);
    /* Set the color of visited links */
}

/* Show recipes div when .recipes-active class is added to body */
body.recipes-active div.recipes {
    display: block;
    transform: translateX(0);
    /* Slide in from the right */
    padding-top: 170px;
}